{{>layout/header}}

<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <img src="images/tower.jpg" class="img-thumbnail" alt="Responsive image">
    </div>
</div>
{{>layout/footer}}